<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Your Speedtests</title>
  {{ style('style') }}
</head>

<body>
  
  <header>
    <h1>Your Measurements ⚡</h1>
    <h2> 
      <strong>Download</strong> {{ averageDownload }} Mbps
      <strong>Upload</strong> {{ averageUpload }} Mbps
    </h2>
  </header>

  <main>

    <section class="speedtests__list">
      
      <table class="speedtests__table">

        <thead class="speedtests__header">
          <tr>
            <th>Date</th>
            <th>Download</th>
            <th>Upload</th>
          </tr>
        </thead>

        <tbody>
          @each(speedtest in speedtests)
            <tr class="speedtest">
              <td>{{ speedtest.created_at }}</td>
              <td>{{ speedtest.download / 125000 }} Mbps</td>
              <td>{{ speedtest.upload / 125000 }} Mbps</td>
            </tr>
          @endeach
        </tbody>

        <tfoot class="speedtests__footer">
          <tr>
            <td>Total measurements</td>
            <td class="speedtests__count" colspan="2">{{ testsCount }}</td>
          </tr>
        </tfoot>

      </table> 

    </section>

  </main>

</body>

</html>
